@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --font-zalando: "Zalando Sans Expanded", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-lora: "Lora", serif;
  --font-cormorant: "Cormorant", serif;

  font-family: "Plus Jakarta Sans", sans-serif;

  line-height: 1.5;
  color-scheme: light dark;
  color: #230000de;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}